@using Kronen
@using Kronen.Models

@model VMGameRoom

<div ng-controller="gameRoomController">
    <h1>@Model.name</h1>
    <i>Sala número: {{gameId}}</i>
    <p>Número de jogaodres: {{numberPlayers}}</p>
    <div id="painelJogadores">
        <ul>
            <li ng-repeat="j in jogadores">
                {{j.name}} 
                <label class="label label-success" ng-show="j.isReady">Pronto</label>
                <label class="label label-warning" ng-show="!j.isReady">Aguardando...</label>
            </li>
        </ul>
    </div>
    <button ng-disabled="ready" ng-click="setMeReady(true)" class="btn btn-danger">Estou Pronto</button>
</div>

@Html.Partial("../Shared/_Chat.cshtml", @Model.chatRoom)

<script>
    kronenApp.controller('gameRoomController',function($scope, $http){
        $scope.gameId = @Model.gameId;
        $scope.player = {
            id: '@Model.playerId',
            name: '@Model.chatRoom.userName'
        };
        $scope.numberPlayers = @Model.numberPlayers;
        var onGoing = false;
        $scope.ready = false;

        consultaStatusJogadores();
        setInterval(function(){
            if(!onGoing)
                consultaStatusJogadores();
        }, 3000);

        function consultaStatusJogadores(){
            onGoing = true;
            $http.get('/api/room/?id=' + $scope.gameId,{}).then(function(ret){
                onGoing = false;
                if(ret.Errors == null && ret.data != null){
                    $scope.jogadores = ret.data.jogadores;
                    var jogadoresProntos = $scope.jogadores.filter((x) =>{
                        return x.isReady == true;
                    });
                    if(jogadoresProntos.length === $scope.numberPlayers || ret.data.gameReady)
                    {
                        window.location = "/game/" + $scope.gameId + "/" + $scope.player.id;
                    }
                }else{
                    alert(ret.Errors);
                }
                console.log(ret.data);
            });
        };
        $scope.setMeReady = function(status){
            debugger;
            $http.post('/api/room/',
            {
                Player: $scope.player,
                RoomId: $scope.gameId,
                status: status
            }).then(function(ret){
                onGoing = false;
                if(ret.Errors == null && ret.data != null){
                    $scope.ready = true;
                }else{
                    alert(ret.Errors);
                }
                console.log(ret.data);
            });
        }
           
    });
</script>