@using Kronen
@using Kronen.Models

@model VMGameRoom


<h1>@Model.name</h1>
<i>Sala número: @Model.gameId</i>
<p>Número de jogaodres: @Model.NumberPlayers</p>

@Html.Partial("../Shared/_Chat.cshtml", @Model.chatRoom)